/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;
$label-width: 49px;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background-color: #e7ecea;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

#app{
  margin: 0;
  background-color: #e7ecea;

}

header{
  width: 100%;
  height: 30px;
  border-bottom: 1px solid darkgray;
  padding: 5px;
}



//.page-content{
//  display: flex;
//}

//.orbits-controls{
//  width: 400px;
//}

//.orbit-head {
//  width: 400px;
//  padding: 5px 0 10px 5px;
//  border: 1px solid darkgray;
//  background-color: lightgreen;
//}

//.orbit-head-t-title{
//  display: inline-block;
//  width: $label-width;
//}
//
//.orbit-head-interval-title{
//  display: inline-block;
//  width: $label-width;
//}
//
//.orbit-head-c-title{
//  display: inline-block;
//  width: $label-width;
//}


//.orbits-defs-list{
//  width: 400px;
//  margin-bottom: 5px;
//}
//
//.orbit-def-form{
//  width: 400px;
//  padding: 5px 0 10px 5px;
//  border: 1px solid darkgray;
//  background-color: white;
//}

//.orbit-def-form input[type=submit]{
//  display:block;
//  margin-bottom: 7px;
//}

//.orbit-def-input-label {
//  display:block;
//  height: 23px;
//}
//
//.orbit-def-label-title {
//  display: inline-block;
//  width: $label-width;
//}

//.orbit-add-controls {
//  position: relative;
//  width: 404px;
//  height: 25px;
//}
//
//.orbit-add-button {
//  float: right;
//}
//
//.orbit-def-id {
//  font-size: 12px;
//  display: inline-block;
//  margin: 0;
//  padding: 0 4px 0 0;
//  float: right;
//}
//
//.orbit-foot {
//  width: 400px;
//  padding: 5px 0 10px 5px;
//  border: 1px solid darkgray;
//  background-color: lightgreen;
//}

//.orbit-foot-endx-title, .orbit-foot-endy-title{
//  display: inline-block;
//  width: $label-width;
//}

//.sketch-area{
//  width: 900px;
//  height: 800px;
//  margin-left: 20px;
//  background-color: lightblue;
//}

.orbits-head-wrapper{
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 4px;
  padding-right: 5px;
  border: 1px solid darkgray;
  border-radius: 4px;
}

.orbit-head{
  padding-top: 5px;

}

.orbits-defs-list{
  margin-left: -10px;
  margin-right: -10px;
  padding-right: 5px;

}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

.label-xs{
  height: 22px;
  padding: 2px 5px 2px 20px;
  font-size:12px;
  line-height: 1.5;
}

.label-app-xs{
  height: 22px;
  font-size:12px;
  line-height: 1.5;
}

.number-input-x-narrow{
  width: 50px;
}

.show-check{
  width: 18px;
  height: 18px;
  margin: 0 0 0 7px;
  background-color: red;

}

label.form-group.row{
  margin-left: 4px;
}

.orbit-def-id-input{
  display: none;
}

.hidden-true{
  display:none;
}

.tabber-btns{
  margin-top: 2px;
  float: left;

}

.tabber-settings, .tabber-appearance{
  width: 18px;
  height: 40px;
  border-left: 1px solid darkgray;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  border-right: 1px solid darkgray;
  border-radius: 5px 0 0 5px;
  margin-bottom: 1px;
  z-index: 100;
  background-color: white;
  cursor: pointer;
}

.tabber-active{
  border-right: 0px solid darkgray;
}

.tabber-appearance{

}

.tabber-settings{

}

.settings-icon-svg, .palette-icon-svg{
  margin-left: 1px;
  margin-top: 10px;
  pointer-events: none;
}

.settings-icon, .palette-icon{
  fill: darkgray;
  pointer-events: none;
}

.orbit-def-form{

}

.orbit-def-controls-left, .orbit-def-controls-right{
  padding-top: 2px;
}

.orbit-def-settings-back, .orbit-def-palette-back{
  margin-left: 17px;
  border:1px solid darkgray;
  border-radius: 0 5px 5px 0;
  background-color: white;
  margin-right: -8px;
  padding-right: 5px;
  padding-top: 4px;
}

.appearance-control-group-name{
  font-weight: bold;
  color: darkgray;
  margin: 0;
  padding: 0;
}

.number-input-narrow{
  width: 70px;
}

.input-narrow{
  width: 70px;
}

.form-group.row{
  margin-bottom: 0.5em;
}

.delete-orb-def-btn{
  width: 20px;
  height: 20px;
  font-size: 10px;
  padding: 0;
  margin: 2px;
  float: right;
}

.orbits-page{
  background-color: white;
}

.orbits-page-left{

}

.orbits-controls{

}

.sketch-canvas{
  border: 1px solid darkgray;
}

.canvas-animating {
  border: 1px solid red;
}
.canvas-not-animating {
  border: 1px solid darkgray;
}



/* Playback Controls */
.play-controls{
  width: 800px;
  height: 200px;
  border: 1px solid darkgray;
  background-color: gainsboro;
}

.playback-btn{
  margin-left: 3px;
  margin-right: 3px;
}
.play-icon-svg{

}
.play-icon{
  fill:white;
}
.stop-icon-svg{
  margin-right: 4px;
}
.stop-icon{
  fill:white;
}
.go-start-svg{
  margin-right: 4px;
}
.go-start-icon{
  fill:white;
}
.go-end-svg{
  margin-right: 4px;
}
.go-end-icon{
  fill:white;
}

// function input focus glow
.invalid:focus {
  color: #495057;
  background-color: #fff;
  border-color: red;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
  outline: none;
}

.valid:focus {
  color: #495057;
  background-color: #fff;
  border-color: green;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
  outline: none;
}



.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }



