/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;
$label-width: 49px;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  background-color: #e7ecea;

}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

#app{
  margin: 0;
  background-color: #e7ecea;

}

header{
  width: 100%;
  height: 30px;
  border-bottom: 1px solid darkgray;
  padding: 5px;
}

.orbits-page{
  margin-top: 10px;
  padding: 10px;
  background-color: lightgray;
}

.page-content{
  display: flex;
}

.orbits-controls{
  width: 400px;
}

.orbit-head {
  width: 400px;
  padding: 5px 0 10px 5px;
  border: 1px solid darkgray;
  background-color: lightgreen;
}

//.orbit-head-t-title{
//  display: inline-block;
//  width: $label-width;
//}
//
//.orbit-head-interval-title{
//  display: inline-block;
//  width: $label-width;
//}
//
//.orbit-head-c-title{
//  display: inline-block;
//  width: $label-width;
//}


.orbits-defs-list{
  width: 400px;
  margin-bottom: 5px;
}

.orbit-def-form{
  width: 400px;
  padding: 5px 0 10px 5px;
  border: 1px solid darkgray;
  background-color: white;
}

//.orbit-def-form input[type=submit]{
//  display:block;
//  margin-bottom: 7px;
//}

//.orbit-def-input-label {
//  display:block;
//  height: 23px;
//}
//
//.orbit-def-label-title {
//  display: inline-block;
//  width: $label-width;
//}

.orbit-add-controls {
  position: relative;
  width: 404px;
  height: 25px;
}

.orbit-add-button {
  float: right;
}

.orbit-def-id {
  font-size: 12px;
  display: inline-block;
  margin: 0;
  padding: 0 4px 0 0;
  float: right;
}

.orbit-foot {
  width: 400px;
  padding: 5px 0 10px 5px;
  border: 1px solid darkgray;
  background-color: lightgreen;
}

//.orbit-foot-endx-title, .orbit-foot-endy-title{
//  display: inline-block;
//  width: $label-width;
//}

.sketch-area{
  width: 900px;
  height: 800px;
  margin-left: 20px;
  background-color: lightblue;
}

.sketch-canvas{
  border: 1px solid darkgray;
}

.canvas-animating {
  border: 1px solid red;
}
.canvas-not-animating {
  border: 1px solid darkgray;
}

.play-controls{
  width: 800px;
  height: 200px;
  border: 1px solid darkgray;
  background-color: gainsboro;
}

.play-icon-svg{

}
.play-icon{
  fill:white;
}
.stop-icon-svg{
  margin-right: 4px;
}
.stop-icon{
  fill:white;
}
.go-start-svg{
  margin-right: 4px;
}
.go-start-icon{
  fill:white;
}
.go-end-svg{
  margin-right: 4px;
}
.go-end-icon{
  fill:white;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }



