/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;
$label-width: 49px;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background-color: white;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

#app{
  margin: 0;
  background-color: white;

}

header{
  width: 100%;
  height: 30px;
  border-bottom: 1px solid darkgray;
  padding: 5px;
}


.orbits-head-wrapper{
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 4px;
  padding-right: 5px;
  border: 1px solid darkgray;
  border-radius: 4px;
}

.orbits-foot-wrapper{
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 4px;
  padding-right: 5px;
  padding-top: 5px;
  padding-left: 20px;
  border: 1px solid darkgray;
  border-radius: 4px;
}

.orbit-head{
  padding-top: 5px;

}

.orbit-add-controls{

  padding-left:90px;
  margin-bottom: 10px;
}

.orbits-page{
  padding-top: 10px;
}

.orbits-defs-list{
  margin-left: -10px;
  margin-right: -10px;
  padding-right: 10px;
  height: 572px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 5px;
}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}

.input-xs-time {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.label-xs{
  height: 22px;
  padding: 2px 5px 2px 20px;
  font-size:12px;
  line-height: 1.5;

}

.label-xs-time{
  height: 22px;
  padding: 2px 5px 2px 0px;
  font-size:12px;
  line-height: 1.5;

}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.label-app-xs{
  height: 22px;
  font-size:12px;
  line-height: 1.5;
}

.number-input-x-narrow{
  width: 50px;
}

.show-check{
  width: 18px;
  height: 18px;
  margin: 0 0 0 7px;
  background-color: red;

}

label.form-group.row{
  margin-left: 4px;
}

.orbit-def-id-input{
  display: none;
}

.hidden-true{
  display:none;
}

.tabber-btns{
  margin-top: 2px;
  float: left;

}

.tabber-settings, .tabber-appearance{
  width: 19px;
  height: 40px;
  border-left: 1px solid darkgray;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  border-right: 1px solid darkgray;
  border-radius: 5px 0 0 5px;
  margin-bottom: 1px;
  z-index: 100;
  background-color: white;
  cursor: pointer;
}

.tabber-active{
  border-right: 0px solid darkgray;
}

.tabber-appearance{

}

.tabber-settings{

}

.settings-icon-svg, .palette-icon-svg{
  margin-left: 1px;
  margin-top: 10px;
  pointer-events: none;
}

.settings-icon, .palette-icon{
  fill: darkgray;
  pointer-events: none;
}

.orbit-def-form{

}

.orbit-def-controls-left, .orbit-def-controls-right{
  padding-top: 2px;
}

.orbit-def-settings-back, .orbit-def-palette-back{
  margin-left: 17px;
  border:1px solid darkgray;
  border-radius: 0 5px 5px 0;
  background-color: white;
  margin-right: -5px;
  padding-right: 5px;
  padding-top: 4px;
}

.appearance-control-group-name{
  font-weight: bold;
  color: darkgray;
  margin: 0;
  padding: 0;
}

.number-input-narrow{
  width: 70px;
}

.input-narrow{
  width: 70px;
}

.form-group.row{
  margin-bottom: 0.5em;
}

.delete-orb-def-btn{
  width: 20px;
  height: 20px;
  font-size: 10px;
  padding: 0;
  margin: 2px;
  float: right;
}

.orbits-page{
  background-color: white;
}

.orbits-page-left{

}

.orbits-controls{

}

.sketch-canvas{
  border: 1px solid darkgray;
}

.canvas-animating {
  border: 1px solid red;
}
.canvas-not-animating {
  border: 1px solid darkgray;
}



/* Playback Controls */
.play-controls{
  width: 800px;
  margin-left: 0px;
  border: 1px solid darkgray;
  background-color: gainsboro;
  border-radius: 5px;
  padding-bottom: 10px;
}

.play-button-group{
  margin-top: 5px;
  margin-left:auto;
  margin-right: auto;
}

.play-time-controls{
  margin-left: -10px;
}

.playback-btn{
  margin-left: 3px;
  margin-right: 3px;
}
.play-icon-svg{

}
.play-icon{
  fill:white;
}
.stop-icon-svg{
  margin-right: 4px;
}
.stop-icon{
  fill:white;
}
.go-start-svg{
  margin-right: 4px;
}
.go-start-icon{
  fill:white;
}
.go-end-svg{
  margin-right: 4px;
}
.go-end-icon{
  fill:white;
}

.delete-icon-svg{
  margin-right: 3px;
}

.delete-icon{
  fill:white;
}

.current-iteration{
  color: #1b1e21 !important;
  background-color: #c6cbc9;
}

// function input focus glow
.invalid:focus {
  color: #495057;
  background-color: #fff;
  border-color: red;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
  outline: none;
}

.valid:focus {
  color: #495057;
  background-color: #fff;
  border-color: green;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 0, 0.6);
  outline: none;
}



.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }



